<% layout('layouts/boilerplate.ejs') %>

    <div class="row">
        <h1 class="text-center mb-3">Editing <%=park.title %> - <%=park.location %>
        </h1>
        <div class="col-6 offset-3">

            <form action="/parks/<%= park._id %>?_method=PUT" autocomplete="off" method="POST" novalidate
                class="needs-validation" enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label" for="title">Enter the name or type of park/facility</label>
                    <input class="form-control" type="text" id="title" name="park[title]"
                        placeholder="ex. Outdoor Gym, Calisthenics Park, Trekfit Location" value="<%=park.title %>"
                        required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">Enter the location of the park/facility</label>
                    <input class="form-control" type="text" id="location" name="park[location]"
                        placeholder="ex. Maryvale Park, Jane/Finch intersection, Runeterra Plaza"
                        value="<%=park.location %>" required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">Enter the address</label>
                    <input class="form-control" type="text" id="address" name="park[address]"
                        placeholder="ex. Hamilton, Ontario" value="<%=park.address %>" required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="image">Add Images</label>
                    <input type="file" name="image" id="image" multiple>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="description">Description (ex. directions to arrive, peak hours,
                        equipment available)</label>
                    <textarea class="form-control" type="text" id="description" name="park[description]"
                        required><%=park.description %></textarea>
                </div>

                <p class="form-control-label mb-2" id="EQ">What equipment is available?</p>
                <!-- checkboxes -->
                <div class="form-control mb-3">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" name="park[equipment]" type="checkbox" value="Pull up bars"
                            id="check1">
                        <label class="form-check-label" for="defaultCheck1">
                            Pull up bars
                        </label>
                    </div>

                    <div class="form-check form-check-inline">
                        <input class="form-check-input" name="park[equipment]" type="checkbox" value="Parallel bars"
                            id="check2">
                        <label class="form-check-label" for="defaultCheck1">
                            Parallel bars
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" name="park[equipment]" type="checkbox" value="Monkey bars"
                            id="check3">
                        <label class="form-check-label" for="defaultCheck1">
                            Monkey bars
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" name="park[equipment]" type="checkbox" value="Push up bars"
                            id="check4">
                        <label class="form-check-label" for="defaultCheck1">
                            Push up bars
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" name="park[equipment]" type="checkbox" value="Abs benches"
                            id="check5">
                        <label class="form-check-label" for="defaultCheck1">
                            Abs benches
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" name="park[equipment]" type="checkbox" value="Jump platforms"
                            id="check6">
                        <label class="form-check-label" for="defaultCheck1">
                            Jump platforms
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" name="park[equipment]" type="checkbox" value="Other"
                            id="check7">
                        <label class="form-check-label" for="defaultCheck1">
                            Other
                        </label>
                    </div>
                </div>




                <div class=" mb-3">
                    <button class="btn btn-success">Update Park</button>
                </div>
            </form>
            <footer><a href="/parks/<%=park._id %>">Cancel</a></footer>
        </div>
    </div>
    <script src='/js/checkForms.js'> </script>