<% layout('layouts/boilerplate.ejs') %>
    <h3>Editing <%= park.title %>
    </h3>
    <form action="/parks/<%= park._id %>?_method=PUT" method="POST">
        <div>
            <label for="title">Change the title</label>
            <input type="text" id="title" name="park[title]" placeholder="ex. Facility type - Park name"
                value="<%= park.title %>">
        </div>
        <div>
            <label for="location">Change the address</label>
            <input type="text" id="address" name="park[address]" placeholder="ex. Hamilton, Ontario"
                value="<%= park.address %>">
        </div>
        <button>Update</button>
    </form>

    <footer><a href="/parks/<%= park._id %>">cancel</a></footer>