<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= park.title%>
    </title>
</head>

<body>
    <h2>
        <%= park.title%>
    </h2>
    <h3>
        <%= park.location%>
    </h3>
    <footer>
        <a href="/parks/<%= park._id %>/edit">Edit this park</a>
        <a href="/parks">View all parks</a>
        <form action="/parks/<%= park._id %>?_method=DELETE" method="POST"><button>delete</button></form>
    </footer>
</body>

</html>