<% layout('layouts/boilerplate.ejs') %>
    <link rel="stylesheet" href="/css/starability-basic.css">
    <div class="row">
        <div class="col-6">
            <div class="card mb-4">
                <img src="<%= park.image %> " class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= park.title%> at <%= park.location%>
                    </h5>
                    <p class="card-text">
                        <%= park.description%>
                    </p>
                </div>
                <ul class="list-group list-group-flush">

                    <li class="list-group-item">
                        <% for(let tag of park.equipment) {%>
                            <span class="badge bg-secondary">
                                <%= tag%>
                            </span>
                            <% }%>
                    </li>
                    <li class="list-group-item text-muted">
                        <%= park.address%>
                    </li>

                </ul>
                <% if(currentUser && park.author.equals(currentUser._id)){ %>
                    <div class="card-body">
                        <a href="/parks/<%= park._id %>/edit" class="card-link btn btn-warning">Edit</a>

                        <form action="/parks/<%= park._id %>?_method=DELETE" method="POST" class="d-inline"><button
                                class='btn btn-danger'>delete</button></form>
                    </div>
                    <%}%>
                        <div class="card-footer text-muted">Posted 2 days ago <i>by</i>
                            <%=park.author.username%>
                        </div>

            </div>
        </div>

        <div class="col-6">
            <% if(currentUser){ %>
                <h2>Leave a Review!</h2>
                <form action="/parks/<%= park._id %>/reviews" method="POST" class='mb-3 needs-validation' novalidate>
                    <!-- <div class="mb-3">
                        <label for="rating" class="form-label">Rating</label>
                        <input type="range" min='1' max='5' class='form-range' id='rating' name='review[rating]'>
                    </div> -->
                    <div>
                        <fieldset class="starability-basic">
                            <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1"
                                checked aria-label="No rating." />
                            <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                            <label for="first-rate1" title="Terrible">1 star</label>
                            <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                            <label for="first-rate2" title="Not good">2 stars</label>
                            <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                            <label for="first-rate3" title="Average">3 stars</label>
                            <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                            <label for="first-rate4" title="Very good">4 stars</label>
                            <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                            <label for="first-rate5" title="Amazing">5 stars</label>
                        </fieldset>
                    </div>
                    <div class="mb-3"><label for="body" class='form-label'>Review Text</label>
                        <textarea name="review[body]" id="" class="form-control" cols="30" rows="3" id='body'
                            required></textarea>
                    </div>
                    <button class='btn btn-success'>Add Review</button>
                </form>
                <%}%>
                    <% for(let r of park.reviews) {%>
                        <div class="card mb-3">
                            <div class="card-body ">
                                <h5 class='card-title text-muted'>
                                    Review by: <%= r.author.username%>
                                </h5>
                                <p class="starability-result" data-rating="<%= r.rating%>">
                                    Rated: <%= r.rating%> stars
                                </p>


                                <p class='card-text'>
                                    <%= r.body %>
                                </p>
                                <% if(currentUser && r.author.equals(currentUser._id)) {%>
                                    <form action="/parks/<%=park._id %>/reviews/<%= r._id %>?_method=DELETE"
                                        method="POST">
                                        <button class='btn btn-sm btn-danger'>Delete</button>
                                    </form>
                                    <%}%>
                            </div>
                        </div>
                        <% } %>
        </div>

    </div>

    <script src='/js/checkReview.js'> </script>

    <!--  -->