<% layout('layouts/boilerplate.ejs') %>

    <h2>
        <%= park.title%> at <%= park.location%>
    </h2>
    <h3>
        <%= park.address%>
    </h3>
    <h5>
        <% for(let tag of park.equipment) {%>
            <span class="badge bg-secondary">
                <%= tag%>
            </span>
            <% }%>
    </h5>
    <img src="<%= park.image%>" alt="">
    <p>
        <%= park.description%>
    </p>
    <footer>
        <a href="/parks/<%= park._id %>/edit">Edit this park</a>
        <a href="/parks">View all parks</a>
        <form action="/parks/<%= park._id %>?_method=DELETE" method="POST"><button>delete</button></form>
    </footer>