<% layout('layouts/boilerplate.ejs') %>

    <div class="row">
        <div class="col-6">
            <div class="card mb-4">
                <img src="<%= park.image %> " class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= park.title%> at <%= park.location%>
                    </h5>
                    <p class="card-text">
                        <%= park.description%>
                    </p>
                </div>
                <ul class="list-group list-group-flush">

                    <li class="list-group-item">
                        <% for(let tag of park.equipment) {%>
                            <span class="badge bg-secondary">
                                <%= tag%>
                            </span>
                            <% }%>
                    </li>
                    <li class="list-group-item text-muted">
                        <%= park.address%>
                    </li>

                </ul>
                <% if(currentUser && park.author.equals(currentUser._id)){ %>
                    <div class="card-body">
                        <a href="/parks/<%= park._id %>/edit" class="card-link btn btn-warning">Edit</a>

                        <form action="/parks/<%= park._id %>?_method=DELETE" method="POST" class="d-inline"><button
                                class='btn btn-danger'>delete</button></form>
                    </div>
                    <%}%>
                        <div class="card-footer text-muted">Posted 2 days ago <i>by</i>
                            <%=park.author.username%>
                        </div>

            </div>
        </div>

        <div class="col-6">
            <% if(currentUser){ %>
                <h2>Leave a Review!</h2>
                <form action="/parks/<%= park._id %>/reviews" method="POST" class='mb-3 needs-validation' novalidate>
                    <div class="mb-3">
                        <label for="rating" class="form-label">Rating</label>
                        <input type="range" min='1' max='5' class='form-range' id='rating' name='review[rating]'>
                    </div>
                    <div class="mb-3"><label for="body" class='form-label'>Review</label>
                        <textarea name="review[body]" id="" class="form-control" cols="30" rows="3" id='body'
                            required></textarea>
                    </div>
                    <button class='btn btn-success'>Add Review</button>
                </form>
                <%}%>
                    <% for(let r of park.reviews) {%>
                        <div class="card mb-3">
                            <div class="card-body">
                                <h5 class='card-title'>
                                    Rating: <%= r.rating%>
                                </h5>
                                <h6 class="card-subtitle mb-2 text-muted">Review by: <%= r.author.username%>
                                </h6>
                                <p class='card-text'>
                                    <%= r.body %>
                                </p>
                                <% if(currentUser && r.author.equals(currentUser._id)) {%>
                                    <form action="/parks/<%=park._id %>/reviews/<%= r._id %>?_method=DELETE"
                                        method="POST">
                                        <button class='btn btn-sm btn-danger'>Delete</button>
                                    </form>
                                    <%}%>
                            </div>
                        </div>
                        <% } %>
        </div>

    </div>

    <script src='/js/checkReview.js'> </script>

    <!--  -->